%script
	$(document).ready(function() { flowplayer("player", "/flowplayer.swf",  {clip: {autoPlay: false, scaling: 'fit'} }); });
.rightnav
	Video by
	%email= @video.author.email
	%br/
	Uploaded at #{@video.created_at.to_s(:long)} <br/><br/>
.video
	.Inner
		/ = @video.meta[:aspect]
		%div.flv(href='#{@video.flvurl}' id='player')
	.Footer
		%a(href='#{video_path(@video)}') #{@video.title}
		- if user_signed_in? and current_user == @video.author
			.Operations= link_to 'delete', video_path(@video), :method => 'DELETE', :confirm => 'Are you sure?'
= render :partial => 'comments', :locals => { :video => @video }